/* With # 
#054297
low dark blue
#e9023c
red
#ffffff
white

#c2c8c8
grey

#002559
dark blue

#0455c6
blue
*/
.container {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}
.header {
  color: #054297;
}
.authorslist {
  display: flex;
  flex-direction: column;
}
.author {
  width: 80%;
  height: auto;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0px 13px 15px -8px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 13px 15px -8px rgba(0, 0, 0, 0.09);
}
.author .nameWrapper {
  display: flex;
  align-items: center;
}
.author .imageWrapper {
  width: 50px;
  margin-right: 10px;
}
.imageWrapper img {
  max-width: 100% !important;
  height: auto;
  display: block;
}
.authorName {
  color: #0455c6;
  font-weight: 600;
}
.author p {
  color: #898b8b;
  text-align: justify;
  line-height: 25px;
}
